.top_search_card_container{
  background: white;
  padding: 16px 14px;
  .tree_node{
    cursor: pointer;
    height: 40px;
    >div{
      padding: 2px 5px;
      border-radius: 2px;
    }
    &:hover{
      background-color: #F6F6F6;
    }
    span{
      margin-right: 8px;
      width: 20px;
      height: 20px;
      line-height: 20px;
      color: #407CD5;
    }
    .top1,.top2,.top3{
      color: #fff;
    }
    .top1{
      background-color: #CE5542;
    }
    .top2{
      background-color: #EE8015;
    }
    .top3{
      background-color: #F0C027;
    }
  }
}
