.news_or_weichat_card_container{
  background: white;
  padding: 16px 14px;
  // border: 1px solid #dddddd;
  .card_title{
    font-size: 14px;
    color: #333333;
    line-height: 22px;
    margin-bottom: 10px;
    font-weight: 500;
  }
}