.weichat_card_container{
  // margin-top: 10px;
  background: white;
  margin-bottom: 10px;
  padding: 0 14px;
  .card_day_top{
    padding-top: 12px;
    .card_chat_subcribe.ant-btn-sm{
      font-size: 12px;
      color:#333333;
      > .anticon + span{
        margin-left: 4px;
      }
    }
    .card_chat_subcribed.ant-btn-sm{
      font-size: 12px;
      color: #949CB3;
      padding: 0 9px;
      cursor: default;
    }
    .card_day_header{
      .card_chatno_container{
        div:first-child{
          font-size: 14px;
          color: #333333;
          letter-spacing: 0.27px;
          // margin-bottom: 3px;
        }
        div:last-child{
          font-size: 12px;
          color: #999999;
          letter-spacing: 0.23px;
        }
      }
    }
  }
  .card_day_open_btn{
    font-size: 12px;
    color: #407CD5;
    cursor: pointer;
    padding: 10px 0;
  }
  .card_item_container{
    position: relative;
    width: 100%;
    .card_item_first{
      .card_image{
        margin-top: 5px;
        width: 240px;
        height: 160px;
      }
      .card_summary{
        font-size: 14px;
        color: #333;
        line-height: 22px;
        font-weight: 500;
      }
    }
  }
}