.menuBar{
    font-weight: 500;
    .fixed{
        position: fixed;
        width: 150px;
        z-index: 1001;
        background-color: #363A46;
        .menuTooltip{
            height: 39px;
            border-radius: 0;
            background-color: #4F5567;
            opacity: 1;
            &.__react_component_tooltip.type-dark.place-right:after{
                border-right-color: #4F5567;
            }
        }
    }
    .logo{
        height: 80px;
        width: 100%;
        padding: 12px;
        margin-top: 6px;
    }
    .menu{
    //  width: 150px;
        height: calc(100vh - 250px);
        overflow: hidden;
        // overflow-y: auto;
    }

    .bottomBar{
        height: 120px;
        .login-user-info__header::after{
            visibility: hidden;
        }
    }
    .item{
        // display: flex;
        justify-content: space-between;
        width: 100%;
        height: 39px;
        line-height: 39px;
        // overflow: hidden;
        padding: 0px 12px;
        color: rgba(255, 255, 255, 0.6);
        &:hover{
            background: #407cd5;
            color: #fff;
            .menuIcon{
                opacity: 1;
            }
        }
        &[isexpand="true"] .icon{
            transform: rotate(180deg);
            transition: all 0.4s;
        }
        &[isexpand="false"] .icon{
            transform: rotate(0deg);
            transition: all 0.4s;
        }
        cursor: pointer;
        .menuIcon{
            width: 20px;
            display: inline-block;
            opacity: 0.6;
        }
        .menuIcon.image{
            opacity: 1;
        }
        .menuName{
            font-size: 12px;
            margin-left: 10px;
            line-height: 12px;
            display: inline-block;
            max-width: 90px;
            height: 12px;
        }
        &[isexpand="true"] + .subMenu{
            height: calc(100vh - 330px);
        }
        
        &.product-item {
          overflow: visible;
        }
        &.user-item {
          overflow: visible;
        }
    }
    .showRecommendBtn{
        width: 130px;
        height: 34px;
        border-radius: 2px;
        margin-left: 10px;
        margin-top: 10px;
        transition: initial;
        background: #3C414F;
        border: 1px solid #1F222A;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.6);
        // font-weight: 300;
        text-align: left;
        padding-left: 26px;
        &.active{
            background: #407CD5;
            color: #fff;
        }
        .icon{
            font-size: 14px;
        }
        &:hover,
        &:active,
        &:focus{
            background: #3C414F;
            border: 1px solid #1F222A;
        }
        &.active:hover,
        &.active:active,
        &.active:focus{
            background: #407CD5;
            border: 1px solid #407CD5;
        }
        &.user-item,
        &.product-item {
          overflow: visible;
        }
    }
    .subMenu{
        transition: all 0.2s;
        height: 0;
    }
    .subMenu .item{
        display: inline-block;
        padding: 0 12px;
        width: 150px;
    }
    .item[level="1"]{
        color: rgba(255, 255, 255, 1);
    }
    .expandBtn{
        text-align: center;
        line-height: 32px;
    }

    .ant-drawer-left.ant-drawer-open,
    .ant-drawer-right.ant-drawer-open{
        left: 150px;
    }

    .ant-drawer-header{
        padding: 14px 24px;
        .ant-drawer-title{
            font-size: 14px;
        }
    }
    .ant-drawer-close-x{
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .ant-drawer-body{
        padding: 0 20px;
        overflow: auto;
        height: calc(100vh - 54px);
    }

}

.menuBar.min{
    background-color: #363A46;
    .fixed{
        position: fixed;
        width: 60px;
        z-index: 1001;
        background-color: #363A46;
    }
    
    .searchBtn{
        width: 40px;
        height: 30px;
        margin: 0 10px;
        text-align: center;
        padding: 5px 0;
        border-radius: 2px;
        background: #232730;
        border: 1px solid #1F222A;
    }
    .item{
        text-align: center;
        margin: 0px 10px;
        padding: 0;
        width: 40px;
        display: inline-block;
        &[isexpand="true"] + .subMenu{
            height: calc(100vh - 330px);
        }
        
        .menuIcon{
            width: 40px;
        }
        .menuName{
            margin-left: 8px;
        }
    }
    .showRecommendBtn{
        width: 40px;
        margin-left: 10px;
        padding: 0;
        text-align: center;
        .anticon{
            vertical-align: 0rem;
        }
        &.active{
            background: #407CD5;
            color: #fff;
        }
    }
    .logo{
        padding: 18px;
        position: relative;
        top: -14px;
    }

    .ant-input-affix-wrapper .ant-input-prefix, .ant-input-affix-wrapper .ant-input-suffix{
        top: 45%;
        // width: 60px;
        height: 30px;
        padding: 7px;
        right: 0;
        // text-align: center;
    }

    .ant-drawer{
        left: 60px;
    }

    .searchWrap{
        position: relative;
        margin: 10px 0;
        .searchInput{
            position: absolute;
            margin: 10px 0;
            top: -10px;
        }
    }


}